@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

:root {
    /*temp names while we work on color scheme*/
    --color1: rgb(255, 255, 255);
    --color2: #fa6200;
    --btncolor: rgb(0, 160, 0);
    --color4: #04081a;
    --color5: #e18de0;
}

body{
    background: rgb(255,255,255);
    font-family: 'Rubik', sans-serif;
    margin: 0;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}

/* flex */

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.flex-down {
    flex-direction: column;
}

/* positioning */

.centre {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.centre-sm{
    width: 25vw;
}

.centre-absolute {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.centre-vertical {
    top: 40%;
}

.absolute {
    position: absolute;
}

.on-top {
    z-index: 1;
}

.full-width {
    width: 100%;
}

/* stack */

.stack-sm > * + *  {
    margin-top: 0.25rem;
}

.stack-md > * + * {
    margin-top: 2rem;
}

.stack-lg > * + * {
    margin-top: 5rem;
}

.push-down-sm {
    margin-top: 1.2rem;
}

.push-down-md {
    margin-top: 4rem;
}

.no-top-margin {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

/* BLOCKS */
  
.header {
    height: 12vh;
}

/* DISPLAY */

.hidden {
    display: none;
}

.hide {
    visibility: hidden;
}

/* ELEMENTS */

.button {
    width: 5rem;
    padding: 0.5rem;
    background-color: white;
    border: solid 0.1rem black;
    border-radius: 0.3rem;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.button:hover {
    background-color: var(--color2);
    color: var(--color1);
}

.audio-container {
    height: 15rem;
    width: 18rem;
    margin-bottom: 0;
}

.logo {
    width: 18vh;
    height: 18vh;
}

.stars > i {
    color: gold;
}

.flag {
    border: 2px solid black;
    height: 2.5rem;
    width: 4rem;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
}

.pop-up-window {
    background-color: white;
    border: 2px solid black;
    border-radius: 4%;
    width: 12rem;
    padding: 0.8rem;
}


.btn--header {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    align-self: end;
    border: 2px dotted var(--color2);
    transition: 300ms;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.btn--header:hover{
    box-shadow: none;
    background-color: var(--color2);
}


/* MEDIA QUERIES */

@media (min-width:700px) {
    .flag {
        max-height: 4rem;
        max-width: 4rem;
    }
}