@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

:root {
    /*temp names while we work on color scheme*/
    --color1: rgb(255, 255, 255);
    --color2: #fa6200;
    --btncolor: rgb(0, 160, 0);
    --color4: #04081a;
    --color5: #e18de0;
}

body{
    background: rgb(216, 216, 216);
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
}
.app{
    background-color: white;
    height: 100vh;
}

/* Typography */

.h2listen {
    font-size: 1rem;
    margin-block-start: 0.8em;
    margin-block-end: 0em;
}

/* flex */

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.flex-down {
    flex-direction: column;
}

/* positioning */

.centre {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.centre-sm{
    width: 25vw;
}

.centre-absolute {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.centre-vertical {
    top: 40%;
}

.absolute {
    position: absolute;
}

.on-top {
    z-index: 1;
}

.full-width {
    width: 100%;
}

/* stack */

.stack-sm > * + *  {
    margin-top: 0.25rem;
}

.stack-md > * + * {
    margin-top: 1.5rem;
}

.stack-lg > * + * {
    margin-top: 5rem;
}

.push-down-sm {
    margin-top: 1.2rem;
}

.push-down-md {
    margin-top: 4rem;
}

.no-top-margin {
    margin-top: 0;
}

/* BLOCKS */
.figure--Audio{
  padding-top: 1rem;
}
.container--pass{
    max-height: 20vh;
    display: flex;
    flex-direction: column;
}
.container--flags{
    height: 20vh;
}
  
.header {
    max-height: 10vh;
}

/* The Modal (background) */
.modal--container {
    position: fixed; 
    z-index: 1; 
    padding-top: 1rem;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(255, 252, 240);  
    background-color: rgba(250,250,250,0.5);
  }

/* Modal Content */
.modal--content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    overflow: auto;
    padding: 2rem;
    max-width: 20rem;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
.modal--content > ul {
    list-style-type: none;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-10vh; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-10vh; opacity:0}
    to {top:0; opacity:1}
  }
  

/* DISPLAY */

.hidden {
    display: none;
}

.hide {
    visibility: hidden;
}

/* ELEMENTS */

audio::-webkit-media-controls-panel {
    background-color: white;
  }
  audio::-webkit-media-controls-play-button {
    background-color: rgba(229, 229, 229, 0.191);
    border-radius: 50%;
  }


.audio-container {
    max-height: 35vh;
    margin-bottom: 0;
}

.logo {
    align-self: center;
    max-height: 3.5rem;
}

.fa-star {
    color: gold;
}

.bar--container{
    width: 100%;
    height: 1.6rem;
    background-color: rgba(167, 167, 167, 0.18);
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
}
    .bar{
        width: 0%;
        height: 1.2rem;
        padding: 0.2rem;
        background-color: orange;
        border-radius: 4%;
        -webkit-border-radius: 8%;
        -moz-border-radius: 8%;
        -ms-border-radius: 8%;
        -o-border-radius: 8%;
}

.flag {
    border: 2px solid black;
    height: 2.5rem;
    width: 4rem;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
}

.pop-up-window {
    background-color: white;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animateside;
    -webkit-animation-duration: 0.4s;
    animation-name: animateside;
    animation-duration: 0.4s;
    width: 12rem;
    padding: 0.8rem;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}
@-webkit-keyframes animateside {
    from {left:-10vh; opacity:0} 
    to {left:0; opacity:1}
  }
  
  @keyframes animateside {
    from {left:-10vh; opacity:0}
    to {left:0; opacity:1}
  }
  

.btn{
    background-color: rgb(239, 239, 239);
    border: none;
}
.btn:active{
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.btn--header {
    height: 2.3rem;
    width: 2.3rem;
    align-self: center;
    border-radius: 9%;
    -webkit-border-radius: 9%;
    -moz-border-radius: 9%;
    -ms-border-radius: 9%;
    -o-border-radius: 9%;
}

.btn--pass {
    width: 5rem;
    padding: 0.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
.btn--newround{
    height: 2rem;
    padding: 0.5rem;
}
.btn--x{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 9%;
    -webkit-border-radius: 9%;
    -moz-border-radius: 9%;
    -ms-border-radius: 9%;
    -o-border-radius: 9%;
}


/* MEDIA QUERIES */

@media (min-width:700px) {
    .flag {
        max-height: 4rem;
        max-width: 4rem;
    }
    .header{
        height: fit-content;
    }
    .logo{
        padding-top: 1rem;
        max-height: 6rem;
    }
    .h2listen {
        font-size: 1rem;
        margin-block-start: 1.5em;
        margin-block-end: 0.5em;
    }
}